# Codeception Test Suite Configuration

# Suite for WordPress acceptance tests.
# Perform tests using or simulating a browser.


class_name: AcceptanceTester
modules:
    enabled:
        - \Helper\Acceptance
        - WPBrowser:
            url: '{{default-url}}'
            adminUsername: {{admin-user-name}}
            adminPassword: {{admin-password}}
            adminPath: {{admin-path}}